body{
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
    color: white;
    text-align: center;
    background-image: url(https://wallpapers.com/images/high/anime-cherry-blossom-background-99q9j0o6ap26ngdx.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

} 
h1{ 
    font-size: 45px;
}

input{
 width: 75px;
 height: 50px;
 font-size: 45px;
 border-radius: 10px;
 margin: 2px;
 background-color: aliceblue;
 color: black;border-style: none;
 
}
.btn:hover{
    background-color: chocolate;
    cursor: pointer;
}